* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.intro {
	position: relative;
	min-height: 100vh;
	background: url("background.jpeg");
	background-size: cover;
	background-position: right;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 100px;
	
}

.intro h2 {
	font-size: 2.5em;
	color: white;
}

.intro h2 span {
	font-size: 1.5em;
	color: white;

}

.intro h3 {
	font-size: 1.5em;
	color: white;
	padding: 5px;
}
.btn {
	position: relative;
	background: red;
	color: white;
	display: inline-flex;
	padding: 10px;
	font-size: 20px;
	border-radius: 10%;
}

.about {
	
	padding: 15px 15px;
	align-items: center;
	background-color: white;
	background-image: linear-gradient(45deg, white, #DFE0F2) 
}

.about h2 {

}

.content p {
	font-size: 24px;
	font-weight: 500;
	padding: 10px;

}

.projects {
	padding: 20px;

}




.quote {
	font-size: 50px;
	text-align: center;
	margin: 10px;
	padding: 10px;
	color: #FEF71F;
}

.work {
	font-size: 30px;
	text-align: center;
	margin: 10px;
	padding: 10px;
	color: #E9FC2A;
}
.contact {
	background-color: red; 
  	background-image: linear-gradient(45deg, #2EFCF9, #000080);
  	background-clip: text;
	background-size: cover;
	padding: 10px;
}



.content p {
	width: 100%;
	display: inline-block;
}

.content img {
	align-content: right;
	width: 100%;
	display: inline-block;
}

.content h2 {
	font-size: 50px;
	font-weight: 500px;
	padding: 10px;
}

.projects {
	background: url("project.jpeg");
}

.card {
	padding: 10px 10px;
	margin: 10px;
	
}

.contact ul {
	position: relative;
	display: flex;
	justify-content: center;

}

.contact ul li {
	position: relative;
	list-style: none;
}

.contact ul li a{
	position: relative;
	width: 80px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #0EDC0B;
	margin: 0 10px;
	text-decoration: none;
	font-size: 30px;
	border-radius: 50%;
	color: #e2e2e2;
	box-shadow: inset -1px -1px 2px rgba(0,0,0,0.2),
				inset 2px 2px 5px rgba(0,0,0,0.2);

	transition: 0.5s;
}

.contact ul li a:hover {
	color: blue;
	transform: translateY(-20px);
	box-shadow: inset -1px -1px 2px rgba(0,0,0,0.2),
				inset 2px 24px 10px rgba(0,0,0,0.1);
}
